* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    height: 300vh;
    font-family: Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.container {
    width: 1400px;
    margin: auto;
}

main {
    transform: translateY(20px);
}

.container .row {
    display: inline-block;
}

.side-left,
.side-right {
    float: left;
    width: 300px;
    position: sticky;
    top: 70px; 
}

.clear {
    clear: both;
}

.side-right {
    margin-left: 30px;

}

.side-content {
    width: 300px;
    height: 400px;
    background-color: #ffff;
    border-radius: 10px;
    padding: 20px;
    

}

.space-under-menu{
    width: 100%;
    height: 20px;
    background-color: #ddd;
    position: fixed;
    z-index: 99;
}


.news-feed {
    width: 740px;
    height: 2500px;
    background-color: #fff;
    float: left;
    margin-left: 30px;
    border-radius: 10px;
    padding: 20px;
    
}
